.navbar{
    background-color: #1c2436;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 5px 10px;
    margin: 20px;
}

.izquierda{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.izquierda img {
    height: 170px;
    display: flex;
    justify-content: left;  
    margin-top: 20px;  
    margin-left: 60px;
}

.derecha{
    display: flex;
    align-items: center;
    gap: 10px;   
}

.derecha img {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: left; 
}

.button{
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.5s ease;
}

.username{
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
}

.button:hover {
     background-color: #5a5f7f;
}

