body {
    font-family: 'Nunito', sans-serif;
    background-color: #1c2436;
    margin: 0;
    padding: 0;
    height: 100vh;
}
  
.barra{
    background-color: #1c2436;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10px;
    margin: 20px;
}

.izquierda{
    display: flex;
    align-items: center;
    gap: 10px; 
}


.izquierda img {
    height: 200px;
    display: flex;
    justify-content: left;    
}

.button {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.textB {
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-top: 10px; 
    text-align: center;
}

.profileB {
    height: 35px;
    width: 50px;
    background-color: transparent;
    color: #505045;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.helpB{
    height: 40px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
}

.logoutB{
    height: 20px;
    color: #505045;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.helpB:hover {
    background-color: #1e1e1e;
}

.balance-section {
    margin-top: 2%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 582px;
}

.balance-section h2 {
    font-size: 250%;
    font-weight: bold;
    color: #505045;
    align-content: left;
    width: 400px;
}

.balance{
    font-size: 150%;
    font-weight: bold;
    color: #505045;
    margin-left: 20px;
    margin-top: 2px;
    margin-right: 20%; 
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-top: 1%;   
}


.titleB{
    font-size: 175%;
    font-weight: bold;
    margin-left: 20px;
}

.deposit-btn{
  background-color: #505045;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-bottom: 10%;
}

.transfer-btn {
  background-color: #8B9A8F;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  width: 150px;
  margin-bottom: 10%;
}


.menu-table {
    display: flex;
    justify-content: flex-start;
    width: 180px;
    height: 860px;
    background-color: #D9D9D9;
    align-items: left;
    margin-left: 1%;
    border-radius: 10px;
    margin-top: 10px;;
}

.menu-btn {
    background-color: transparent;
    color: #505045;
    border: none;
    border-radius: 6px;
    font-weight: 700px;
    font-size: 18px;
    cursor: pointer;
    height:100px;
}

.inv-btn{
    background-color: transparent;
    color: #505045;
    border: none;
    border-radius: 6px;
    font-weight: 700px;
    font-size: 18px;
    cursor: pointer;
    height:100px;  
    margin-top: 20px;  
}

.ben-btn{
    background-color: transparent;
    color: #505045;
    border: none;
    border-radius: 6px;
    font-weight: 700px;
    font-size: 18px;
    cursor: pointer;
    height:100px;
    margin-top: 20px;  
}

.pet-btn{
    background-color: transparent;
    color: #505045;
    border: none;
    border-radius: 6px;
    font-weight: 700px;
    font-size: 18px;
    cursor: pointer;
    height:100px;
    margin-top: 20px;  
}

.icon{
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.main-content {
    position: relative;
    display: flex;
    gap: 20px;
}

.content-section {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-right {
    margin-left: 40px;
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-left{
    margin-left:1%;
}
.main-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    width: fit-content;
}

.features-section {
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;   
    gap: 10% 30%;
    margin-left: 20px;
}

.feature-button {
    background-color: #D9D1BB;
    border: none;
    border-radius: 12px;
    width: 130px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #2E2E2E;
    font-size: 15px;
    cursor: pointer;
}

.feature-button:hover {
    background-color: #cfc7ad;
}

.feature-button img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.history-section {
    margin-top: 1%;
    margin-left: 50px;
    width: 700px;
    height: 83%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}